.main-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    background: #16171b;

    @media only screen and (max-width: $max-screen-md) {
        flex-direction: column;
    }
    
    .left-container {
        background: linear-gradient(0deg, #4f3fc3 0%, #646099 100%);
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: $max-screen-md) {
            width: 100%;
            height: 50%;
            background: none;
            flex-direction: row;
            align-items: flex-end;
        }

        .logo {
            background-image: url('../images/relay-logo.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position-x: center;
            width: 100%;
            height: 100px;

            @media only screen and (max-width: $max-screen-md) {
                height: 50px;
                margin-bottom: 20px;
                width: 150px;
            }
        }
    
        .speech-icon {
            color: white;
            font-size: 200px;

            @media only screen and (max-width: $max-screen-md) {
                font-size: 50px;
                margin-bottom: 20px;
            }
        }
    }

    .right-container {
        background: $background-dark;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        @media only screen and (max-width: $max-screen-md) {
            width: 100%;
            justify-content: flex-start;
        }

        .animate-div {
            display: flex;
            flex-direction: column;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .welcome-text {
            color: white;
            font-size: 32px;
            font-weight: 700;
            margin: 0;

            @media only screen and (max-width: $max-screen-md) {
                font-size: 26px;
            }
        }

        .subtext {
            color: $subtext-grey;
            font-weight: 500;
            margin: 0 0 30px 0;
            width: 280px;
        }

        .input-field {
            background: black;
            border: 0;
            color: white;
            padding: 10px 20px 10px 50px;
            width: 230px;
            border-radius: 10px;
            outline: black;

            &:hover, &:focus-visible {
                transition: outline 0.05s linear;
                outline: 2px solid #6460998f;
            }
        }

        .input-container {
            position: relative;

            svg {
                position: absolute;
                color: white;
                left: 15px;
                top: 4px;
                width: 20px;
                opacity: 0.5;

                &.toggle-password {
                    left: auto;
                    right: 10px;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .error {
            color: $subtext-grey;
            margin: 5px 0 10px 0;
            font-size: 14px;
        }

        .login-button {
            background: $button-purple;
            border: 0;
            color: white;
            font-weight: 600;
            border-radius: 15px;
            margin-top: 20px;
            padding: 10px 40px;
            font-size: 16px;
            width: 100%;
            cursor: pointer;

            &:hover {
                transition: background-color 0.1s linear;
                background: $button-purple-hover;
            }
        }

        a {
            color: #7a8193;
            text-decoration: none;
            margin-top: 15px;
            font-size: 15px;

            &:hover {
                transition: color 0.1s linear;
                color: white;
            }
        }
        
        .github-link {
            color: white;
            position: absolute;
            bottom: 20px;
            font-weight: 600;

            &:before {
                content: '';
                position: absolute;
                width: 35px;
                height: 35px;
                background: url('../images/github-mark-white.png');
                background-size: 100%;
                background-repeat: no-repeat;
                left: -45px;
                top: -10px;
            }
        }
    }   
}