.message-board-wrapper {
    width: 90%;
    background: linear-gradient(321deg, rgba(28,28,37,1) 48%, rgb(34 33 51) 100%);
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $max-screen-md) {
        width: 100%;
        height: calc(100vh - 170px);
        padding-bottom: 108px;
    }

    .message-form-wrapper {
        margin-top: auto;
        display: flex;
        width: 100%;

        @media only screen and (max-width: $max-screen-md) {
            position: fixed;
            bottom: 0;
            width: 100vw;
        }

        .message-input {
            width: 70%;
            margin-bottom: 30px;
            margin-left: 50px;
            height: 40px;
            background: #28282f;
            border: 0;
            border-radius: 10px;
            padding: 5px 20px;
            color: white;
            font-size: 16px;

            @media only screen and (max-width: $max-screen-md) {
                margin-left: 30px;
                width: 100%;
                margin-right: 30px;
            }
    
            &:focus-visible {
                outline: 0;
            }
        }
    
        .send-wrapper {
            position: relative;

            @media only screen and (max-width: $max-screen-md) {
                display: none;
            }
    
            .send-button {
                height: 50px;
                margin-left: 20px;
                width: 150px;
                border-radius: 10px;
                border: 0;
                background-color: $button-purple;
                color: white;
                font-size: 14px;
                font-weight: 600;
                padding-right: 20px;
                cursor: pointer;
    
                &:hover {
                    transition: background-color 0.1s linear;
                    background: $button-purple-hover;
                }
            }
    
            svg {
                position: absolute;
                color: white;
                right: 30px;
                top: 12px;
            }
        }
    }

    .message-bubbles-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        height: 100%;
        overflow: scroll;
        overflow-x: hidden; 

        .bubbles {
            padding: 50px 30px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%
        }
        
        .message-bubble {
            width: fit-content;
            color: white;
            margin: 12px 0;
            
            .text {
                padding: 5px 0;
                margin: 0
            }

            .username {
                margin: 0 5px 5px 0;
                text-align: right;
                font-weight: 600;
            }

            .date {
                color: $subtext-grey;
                font-size: 12px;
                margin: 0;
            }

            .user-time-wrapper {
                display: flex;
                align-items: baseline;
            }

            // Bubbles from other users
            &.other {
                margin-right: auto;
            }

            // Bubbles from current user
            &.user {
                .text {
                    text-align: right;
                }
                .user-time-wrapper {
                    justify-content: flex-end;
                }
            }
        }

        // Scrollbar
        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-track {
            background: #24242f; 
        }
        &::-webkit-scrollbar-thumb {
            background: #3a3a4f; 
            border-radius: 50px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #484870; 
        }
    }
}