$button-purple: #4f3fc3;
$button-purple-hover: #5127b5;
$border-purple-dark: #363645;

$subtext-grey: #7a8193;

$background-dark: #16171b;
$background-dark-purple: #1c1c25;

// Breakpoints
$min-screen-sm: 319px;
$max-screen-sm: 320px;

$min-screen-md: 767px;
$max-screen-md: 768px;

$min-screen-lg: 1199px;
$max-screen-lg: 1200px;